@model ModelsSGH.TreatmentUnitDTO

@{
    ViewBag.Title = "DeleteTu";
    Layout = null;
}

<div class="alert alert-warning" role="alert">
    <h5> <strong>¿Está seguro que desea Eliminar la UT. @Model.Cod_Tu ? </strong></h5>
</div>
<div>
    <dl class="media-middle">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Tu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Tu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addrress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addrress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </div>
    }
</div>
