<!-- ko with: home -->
<style type="text/css">
 
</style>

@*<div class="content-home">
</div>*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="miConfirm">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Proceso de Monitoreo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <h5>Unidad de Tramiento :<span id="codUT"></span></h5>
                </div>
                <div class="form-group">
                    <label for="sel1">Seleccione un equipo</label>
                    <select class="form-control required" id="equipment" onchange = "setValue(this.value)" data-val="true" name="DownloadValuesId">
                        <option value="">Seleccione un Equipo</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnBuscarEquip" class="btn btn-primary" type="button">Monitorear</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-xs-12 content-home"  style="background-color : #207ce5">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="title-content">
                <h1 class="title"><strong>SAIR</strong> <small>SUPERVISOR DE AGUA POTABLE CON RED INALÁMBRICA</small></h1>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="content-home-index">
                <div class="col-md-12">
                  <div class="col-md-6">
                      <img class="img-circle img-responsive img-personal" src="~/Content/images/water_5.jpg"/>
                      <p class="text-muted">
                          Tener agua de calidad es un factor muy importante ya que incide directamente en la salud y el bienestar humano, la calidad de los alimentos, las actividades económicas, etc. También se considera un factor influyente en la determinación de la pobreza o riqueza de un país.
                      </p>
                  </div>
                  <div class="col-md-6">
                      <img class="img-circle img-responsive img-personal" src="~/Content/images/water_7.png"/>
                      <p class="text-muted">
                          SAIR es un sistema autónomo e inteligente capaz de medir los principales parámetros de calidad físicos y químicos del agua potable en los tanques de reserva, estos son: el Potencial de Hidrógeno (pH), Oxígeno Disuelto  (OD), Potencial Óxido Reducción (ORP), Conductividad  eléctrica (EC). Adicionalmente cuenta con un sensor que permite medir el nivel del agua en el que se encuentra el tanque.
                      </p>
                  </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-offset-1 col-md-5">

                <div class="content-home-index col-md-12">

                <div class="table-responsive full-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Parámetro</th>
                                <th scope="col">Como</th>
                                <th scope="col">Unidad</th>
                                <th scope="col">Limite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Oxígeno Disuelto</th>
                                <td>O.D.</td>
                                <td>mg/l</td>
                                <td>No menor al 80% del oxígeno de saturación y no menor a 6mg/l</td>
                            </tr>
                            <tr>
                                <th scope="row">Potencial de Hidrógeno</th>
                                <td>pH</td>
                                <td>Potencial de hidrógeno</td>
                                <td>6-9</td>
                            </tr>
                            <tr>
                                <th scope="row">Potencial Óxido Reducción</th>
                                <td>ORP</td>
                                <td>mV</td>
                                <td>>650</td>
                            </tr>
                            <tr>
                                <th scope="row">Conductividad eléctrica</th>
                                <td>CE</td>
                                <td>Us/cm</td>
                                <td>>50-1500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                

        </div>
        <div class="col-md-5">
            <div class="content-home-index content-map">
                       <div id="map"></div>
             </div>
        </div>
      </div>
    </div>
</div>


@*<div class="row" style="background-color : #207ce5">
    <div class="col-md-12 col-xs-12">
         <div class="title-content">
             <h1 class="title" ><strong>SAIR</strong> <small>SUPERVISOR DE AGUA POTABLE CON RED INALÁMBRICA</small></h1>
         </div>    
    </div>*@  



@*</div>

<div class="row">*@


    @*<div class="col-md-12 col-xs-12">*@


        @*<div class="content-cards">
      
            <div class="col-md-offset-1 col-md-2 ">
                <div class="card-home">

                    <h3 class="tittle-card">PH</h3>
                    <img  class="card-img" src="~/Content/images/ph.png" />
                    <div class="card-buttons">
                        <button class="btn-card"  onclick="location.href='@Url.Action("Monitor", "FlowDataSensors")'" ><i class="glyphicon glyphicon-stats"></i></button>
                        <button class="btn-card" onclick="animatedBtn(this)" data-toggle="collapse" data-target="#collapseExampleph" aria-expanded="false" 
                                aria-controls="collapseExampleph"><i class="glyphicon glyphicon-log-out card-icon-reverse" id="card-ico-ph"></i></button>    
                    </div>
                    <div class="collapse card-collapse" id="collapseExampleph">
                        <div class="well">
                            El pH es una medida del grado de acidez o de alcalinidad del agua. La escala de unidades de pH va desde 0 (muy ácido) hasta 14 
                            (muy básico), y el valor medio es de 7 unidades. Su valores deben comprender entre 6 y 9.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card-home">
                    <h3 class="tittle-card">ORP</h3>
                    <img class="card-img" src="~/Content/images/orp.png" />
                    <div class="card-buttons">
                        <button class="btn-card" onclick="location.href='@Url.Action("Monitor", "FlowDataSensors")'" ><i class="glyphicon glyphicon-stats"></i></button>
                        <button class="btn-card" onclick="animatedBtn(this)" data-toggle="collapse" data-target="#collapseExampleorp" aria-expanded="false" 
                                aria-controls="collapseExampleorp"><i class="glyphicon glyphicon-log-out card-icon-reverse" id="card-ico-ph"></i></button>
                    </div>
                    <div class="collapse card-collapse" id="collapseExampleorp">
                        <div class="well">
                            Es un parámetro para medir la energía química de oxidación-reducción. El ORP es positivo cuando se produce una oxidación y negativo 
                            cuando se produce reducción. Un valor de 650 mV es un valor adecuado para el agua potable.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card-home">
                    <h3 class="tittle-card">LW</h3>
                    <img class="card-img" src="~/Content/images/lw.png" />
                    <div class="card-buttons">
                        <button class="btn-card" onclick="location.href='@Url.Action("Monitor", "FlowDataSensors")'" ><i class="glyphicon glyphicon-stats"></i></button>
                        <button class="btn-card" onclick="animatedBtn(this)" data-toggle="collapse" data-target="#collapseExamplelw" aria-expanded="false" 
                                aria-controls="collapseExamplelw"><i class="glyphicon glyphicon-log-out card-icon-reverse" id="card-ico-ph"></i></button>
                    </div>
                    <div class="collapse card-collapse" id="collapseExamplelw">
                        <div class="well">
                            Para mediciones de los niveles se utilizan sensores de nivel, el cual es un dispositivo electrónico que mide la altura del material, 
                            generalmente líquido, dentro de un tanque u otro recipiente.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card-home">
                    <h3 class="tittle-card">
                        CT
                    </h3>
                    <img class="card-img" src="~/Content/images/ct.png" />
                    <div class="card-buttons">
                        <button class="btn-card" onclick="location.href='@Url.Action("Monitor", "FlowDataSensors")'" ><i class="glyphicon glyphicon-stats"></i></button>
                        <button class="btn-card" onclick="animatedBtn(this)" data-toggle="collapse" data-target="#collapseExamplect" aria-expanded="false" 
                                aria-controls="collapseExamplect"><i class="glyphicon glyphicon-log-out card-icon-reverse" id="card-ico-ph"></i></button>
                    </div>
                    <div class="collapse card-collapse" id="collapseExamplect">
                        <div class="well">
                            La conductividad del agua es un valor muy utilizado para determinar el contenido de sales disueltas en ella. Es el inverso de la resistencia 
                            que opone el agua al paso de la corriente eléctrica. La cantidad de sales disueltas en el agua es lo que le da la capacidad de 
                            conducir electricidad. Si la cantidad de sales disueltas en el agua es mayor, más va a conducir el agua la electricidad. Un valor entre 50-1500 
                            es óptimo para el agua potable.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card-home">
                    <h3 class="tittle-card">OD</h3>
                    <img class="card-img" src="~/Content/images/od.png" />
                    <div class="card-buttons">
                        <button class="btn-card" onclick="location.href='@Url.Action("Monitor", "FlowDataSensors")'" ><i class="glyphicon glyphicon-stats"></i></button>
                        <button class="btn-card" onclick="animatedBtn(this)" data-toggle="collapse" data-target="#collapseExampleod" 
                                aria-expanded="false" aria-controls="collapseExampleod"><i class="glyphicon glyphicon-log-out card-icon-reverse" 
                                                                                          id="card-ico-ph"></i></button>
                    </div>
                    <div class="collapse card-collapse" id="collapseExampleod">
                        <div class="well">
                            Es la cantidad de oxígeno que está disuelta en el agua. El nivel de OD es un parámetro de calidad del agua. 
                            Por lo tanto un nivel alto de oxígeno indica que el agua es de mejor calidad. Su valor óptimo debe ser > 6 mg/L.
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        @*<div  class="col-md-offset-1 col-md-10">
            <div class="content-home-index">

            </div>
        </div>
      </div> 
</div>*@ 

<!-- /ko -->
