@model IEnumerable<ModelsSGH.DataFlowSensorsDTO>

@{
    ViewBag.Title = "Index";
}


<div class="modal fade" tabindex="-1" role="dialog" id="modalCharts">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Monitoreo de sensor</h4>
            </div>
            <div class="modal-body">
                <div id="content-data" style="overflow:auto" >
                    <div class="embed-responsive embed-responsive-16by9">
                        <embed  id="iframedfs" class="embed-responsive-item" src="" >
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row breadcrumb">
    <div class="col-lg-12 col-xs-12 col-md-12">
        <h2>Flujo de datos de sensores</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-offset-3 col-md-3 col-xs-12">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="dd-mm-yyyy"  id="datePick1"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" placeholder="dd-mm-yyyy" id="datePick2"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <button class="btn-card btn-card-ac1" id="btnCharts" data-toggle="modal" data-target="#modalCharts">
                <span class="glyphicon glyphicon-stats">
                </span>
            </button>
        </div>
    </div>
</div>


 <div class="table-responsive">
     <div class="tableContainer">
         <table class="table  table-fixed" id="tableFlowSensors">
             <thead>

                 <tr>
                     <th class="col-xs-2">
                         @Html.DisplayNameFor(model => model.Data_Sensor_PH)
                     </th>
                     <th class="col-xs-2">
                         @Html.DisplayNameFor(model => model.Data_Sensor_LW)
                     </th>
                     <th class="col-xs-2">
                         @Html.DisplayNameFor(model => model.Data_Sensor_OD)
                     </th>
                     <th class="col-xs-2">
                         @Html.DisplayNameFor(model => model.Data_Sensor_CT)
                     </th>
                     <th class="col-xs-2">
                         @Html.DisplayNameFor(model => model.Data_Sensor_ORP)
                     </th>
                     <th class="col-xs-2">
                         @Html.DisplayNameFor(model => model.Date_Register)
                     </th>
                 </tr>
             </thead>
             <tbody>
                 @foreach (var item in Model)
            {
                     <tr>
                         <td class="col-xs-2">
                             @Html.DisplayFor(modelItem => item.Data_Sensor_PH)
                         </td>
                         <td class="col-xs-2">
                             @Html.DisplayFor(modelItem => item.Data_Sensor_LW)
                         </td>
                         <td class="col-xs-2">
                             @Html.DisplayFor(modelItem => item.Data_Sensor_OD)
                         </td>
                         <td class="col-xs-2">
                             @Html.DisplayFor(modelItem => item.Data_Sensor_CT)
                         </td>
                         <td class="col-xs-2">
                             @Html.DisplayFor(modelItem => item.Data_Sensor_ORP)
                         </td>
                         <td class="col-xs-2">
                             @Html.DisplayFor(modelItem => item.Date_Register)
                         </td>
                         @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                     </tr>
                 }
             </tbody>
         </table>
     </div>
</div>


@section Scripts{
    
    @Scripts.Render("~/Scripts/personal/WebsocketConect.js")
    @Scripts.Render("~/Scripts/personal/RTDataFlowSensors.js")
 }

